html {
    background-color: rgb(123, 192, 222);
}

.app {
    background-color: rgb(123, 192, 222);
    align-content: center;
    max-width: 100%;

}

body {
    margin: 0; /* Remove default margin */
}


.card {
    width: 100%;
}

#border-box {
    border: 1px solid rgb(189, 211, 220) !important;
}

