@import "bootstrap/dist/css/bootstrap.min.css";
/*
 * Globals
 */


/* Custom default button */
.btn-light,
.btn-light:hover,
.btn-light:focus {
    color: #333;
    text-shadow: none;
}

.main-text-color {
    color: rgb(67, 90, 97) !important;
}
